name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Setup Node
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      # Install dependencies
      - run: npm install

      # Build Vite project
      - run: npm run build

      # Deploy /dist folder to GitHub Pages
      - uses: actions/deploy-pages@v4
        with:
          path: ./dist
